{% extends 'base.html' %} 

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css"> 
<link rel="stylesheet" href="css/index.css">
<title>Home</title>
{% endblock extrahead%} 

{% block content %} 

<div class="container">
    <h1>Tienda virtual Cosméticos</h1>
    <div class="tz-gallery">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="">
            <img src="../images/park.jpg" alt="Cosmetico 1">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="../images/park.jpg">
            <img src="../images/park.jpg" alt="Cosmetico 2">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="">
            <img src="" alt="Cosmetico 3">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="img/cosmeticos1.jpg">
            <img src="img/cosmeticos2.jpg" alt="Cosmetico 4">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="img/cosmeticos.png">
            <img src="img/cosmeticos3.png" alt="Cosmetico">
          </a>
        </div>
        <div class="col-sm-6 col-md-4">
          <a class="lightbox" href="img/cosmeticos.png">
            <img src="img/cosmeticos.png" alt="Cosmetico 5">
          </a>
        </div>
      </div>
    </div> 
    <p></p>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
  baguetteBox.run('.tz-gallery');
</script>
{% endblock content%} 
