{% extends 'base.html' %} 

{% block extrahead %} 
<title>Catálogo</title>
{% endblock extrahead%} 

{% block content %} 
<div class="container">
    <h1>Catalogo de cosméticos</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Producto</th>
                <th scope="col">Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
              </tr> 
              <tr>
                <th scope="row">4</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>Breve descripcion del producto</td>
                <td><button>Ver mas detalles</button></td>
              </tr>
        </table>
      </div>
   
{% endblock content %}
</div>

