{% extends 'base.html' %} 
{% load static %}
{% block extrahead %} 
<link rel="stylesheet" href="{% static '/css/catalogo.css' %}" type="text/css" media="screen,projection">
<title>Catálogo</title>
{% endblock extrahead%} 

{% block content %} 
<div>
<div class="container">
    <h1>Catálogo de cosméticos</h1>
      <div class="gallery">
        <a target="_blank" href="{% static 'img/labial.jpg' %}">
          <img id=imagen src="{% static 'img/labial.jpg' %}" alt="Cinque Terre" width="600" height="400">
        </a>
        <div class="desc">Labial</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{% static 'img/base.jpg' %}">
          <img id=imagen src="{% static 'img/base.jpg' %}" alt="Forest" width="600" height="400">
        </a>
        <div class="desc">Base</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'bases'%}">Ver más detalles</a>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{% static 'img/iluminador.jpg' %}">
          <img id=imagen src="{% static 'img/iluminador.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Iluminador</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'iluminador'%}">Ver más detalles</a>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{% static 'img/pestañina.jpg' %}">
          <img id=imagen src="{% static 'img/pestañina.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Pestañina</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'pestanina'%}">Ver más detalles</a>
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="{% static 'img/sombra.jpg' %}">
          <img id=imagen src="{% static 'img/sombra.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Paleta de sombras</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{% static 'img/delineador.jpg' %}">
          <img id=imagen src="{% static 'img/delineador.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Delineador</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="{% static 'img/lapiz.jpg' %}">
          <img id=imagen src="{% static 'img/lapiz.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Lapiz de ojos</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{% static 'img/rubor.jpg' %}">
          <img id=imagen src="{% static 'img/rubor.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Rubor</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>

      <div class="gallery">
        <a target="_blank" href="{% static 'img/brillo.jpg' %}">
          <img id=imagen src="{% static 'img/brillo.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Brillo</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>
      
      <div class="gallery">
        <a target="_blank" href="{% static 'img/corrector.jpg' %}">
          <img id=imagen src="{% static 'img/corrector.jpg' %}" alt="Northern Lights" width="600" height="400">
        </a>
        <div class="desc">Corrector líquido</div>
        <div style="text-align:center">    
          <a style="text-align: center;" href="{% url 'producto'%}">Ver más detalles</a>
        </div>
      </div>  
</div> 
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content %}


  
